[Desktop Entry]
Name=Android Studio
GenericName=AndroidStudio
GenericName[de]=Android Studio
GenericName[en_GB]=Android Studio
Exec=/opt/android-studio/bin/studio.sh
Terminal=false
Icon=/opt/android-studio/bin/idea.png
Type=Application
Categories=Development;IDE;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito
